.hero {
  --image-height: 267px;
  --image-bottom-crop: 36px;

  flex-grow: 1;
  //zeby hero zajmowal cala powierzchnie pozostala
  text-align: center;
  background-image: url('../images/hero-small.png');
  background-repeat: no-repeat;
  background-size: auto var(--image-height);
  background-position: center bottom calc(-1 * var(--image-bottom-crop));
  display: flex;

  @include resolution2x {
    background-image: url('../images/hero-small@2x.png');
  }

  @include M {
    --image-height: 594px;
    --image-bottom-crop: 80px;

    background-image: url('../images/hero-big.png');

    @include resolution2x {
      background-image: url('../images/hero-big@2x.png');
    }
  }

  & > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.875rem;
    padding-bottom: calc(var(--image-height) - var(--image-bottom-crop));
    //  po to padding zeby przyciski i sell more
    //  nie wjezdzalo na zdjecie albo na gore na nawigacje

    @include M {
      padding-top: 8.125rem;
    }


  }

  &__title {
    font-size: 3.0625rem;
    line-height: 3.5625rem;
    margin-bottom: 1.25rem;
  }

  &__description {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-bottom: 2.375rem;
  }

  &__link {
    display: inline-block;
    width: 100%;
    border-radius: 1000px;
    padding: 1.375rem;
    background-color: $color-blue-1;
    color: $color-white-1;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.375rem;
    text-decoration: none;
  }
}

