.page-header {
  --box-shadow: 0 3px 6px #{rgba($color-black-1, 16%)};
  //interpolacja i zmienna css-owa a nie scss zeby byla lokalna

  position: relative;
  background-color: $color-white-1;
  //to ze to jest biale powoduje ze chowane
  // menu pod ten element nie jest widoczne po schowaniu
  > .container {
    min-height: 4.375rem;
    //  bo 70 px zamienione na rem

    padding: 0 1.875rem 0 1.5625rem;
    //na mobilce


    box-shadow: var(--box-shadow);
    //16% alfa daje nam przezroczystosc
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}