$color-white-1: #ffffff;

$color-gray-1:  #f7f7f7;
$color-gray-2:  #e8e9ed;
$color-gray-3:  #a5a5a5;
$color-gray-4:  #95989a;
$color-gray-5:  #707070;

$color-black-1: #000000;
$color-black-2: #13253b;

$color-blue-1:  #08a6e4;
$color-blue-2:  #07ace6;

$color-red-1:   #eb476e;
$color-red-2:   #f90436;
$color-red-3:   #fb3b64;
$color-red-4:   #ff0911;

$color-green-1: #55dfb4;